@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Amharic Font */
    @font-face {
        font-family: "amharic";
        font-weight: 100;
        src: url("../fonts/NotoSansEthiopic-ExtraLight.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 200;
        src: url("../fonts/NotoSansEthiopic-ExtraLight.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 300;
        src: url("../fonts/NotoSansEthiopic-Light.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 400;
        src: url("../fonts/NotoSansEthiopic-Regular.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 500;
        src: url("../fonts/NotoSansEthiopic-Regular.woff") format("woff");
    }

    @font-face {
        font-family: "amharic";
        font-weight: 600;
        src: url("../fonts/NotoSansEthiopic-SemiBold.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 600;
        src: url("../fonts/NotoSansEthiopic-Bold.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 800;
        src: url("../fonts/NotoSansEthiopic-ExtraBold.woff") format("woff");

    }

    @font-face {
        font-family: "amharic";
        font-weight: 900;
        src: url("../fonts/NotoSansEthiopic-Black.woff") format("woff");

    }

    /* English Font */
    @font-face {
        font-family: "english";
        font-weight: 100;
        src: url("../fonts/NunitoSans-Thin.ttf") format("ttf");
    }

    @font-face {
        font-family: "english";
        font-weight: 200;
        src: url("../fonts/NunitoSans-ExtraLight.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 300;
        src: url("../fonts/NunitoSans-Light.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 400;
        src: url("../fonts/NunitoSans-Light.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 500;
        src: url("../fonts/NunitoSans-Regular.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 600;
        src: url("../fonts/NunitoSans-SemiBold.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 700;
        src: url("../fonts/NunitoSans-Bold.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 800;
        src: url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
    }

    @font-face {
        font-family: "english";
        font-weight: 900;
        src: url("../fonts/NunitoSans-Black.ttf") format("woff");
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

}